/* 6. Breadcrumb */
.breadcrumb{
    background: $grey;
    border-radius: 0;
    padding: 50px 0;
    margin: 0;
    & li{
        font-size: 14px;
        color: #999;
        & a{
            font-size: 14px;
            color: #666;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.breadcrumb-item + .breadcrumb-item::before {
	content: "-";
	font-size: 13px;
}