.custom-dropdown {

  &:active {
    background-color: red!important;
  }

  &:hover {
    background-color: gray;
  }
}

.postbox-img500x258 {
  width: 500px;
  height: 258px;

  object-fit: cover;
}

.postbox-img-100x85 {
  width: 100px;
  height: 85px;

  object-fit: cover;
}

.postbox-img-240x160 {
  width: 240px;
  height: 160px;

  object-fit: cover;
}

.postbox-img-406x270 {
  width: 406px;
  height: 270px;

  object-fit: cover;
}

.postbox-img-625x400 {
  width: 625px;
  height: 400px;

  object-fit: cover;
}

.postbox-img-345x225 {
  width: 345px;
  height: 225px;

  object-fit: cover;
}
