/* 10. Footer */
.footer-bg{
    background: $footer-bg;
}
.subscribe-title{
    & h2{
        color: #e5e5e5;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 7px;
        text-transform: uppercase;
        text-align: right;
        padding-right: 25px;
        padding-top: 4px;
        @media #{$md}{
            text-align: left;
        }
        @media #{$xs}{
            text-align: left;
        }
    }
}

.subscribe-form{
    & form{
        position: relative;
        & input{
            width: 100%;
            background: no-repeat;
            border: 0;
            height: 35px;
            border-bottom: 1px solid #363636;
            color: $white;

            &::placeholder {
              color: gray;
            }
        }
        & button{
            position: absolute;
            top: 0;
            right: 0;
            background: no-repeat;
            border: 0;
            height: 35px;
            cursor: pointer;
            text-transform: capitalize;
            color: #ddd;
            font-size: 14px;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.subscribe-form form input::-moz-placeholder {
	color: #808080;
}

.subscribe-separator{
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
}

.footer-widget{
    & p{
        color: #9e9e9e;
        margin-bottom: 25px;
    }
}
.footer-social{
    & a{
        height: 35px;
        width: 35px;
        display: inline-block;
        color: $white;
        text-align: center;
        line-height: 36px;
        font-size: 13px;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        &.facebook{
            background: #1f3d7c;
        }
        &.twitter{
            background: #008de4;
        }
        &.instagram{
            background: #f4513d;
        }
        &.dribbble{
            background: #1f3d7c;
        }
        &.pinterest{
            background: #990011;
        }
        &.google-plus{
            background: #df3520;
        }
        &:hover{
            opacity: .7;
        }
    }
}

.widget-box{
}
.footer-widget{
    & h3{
        color: #e5e5e5;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    & ul{
        & li{
            margin-bottom: 5px;
            &:last-child{
                margin: 0;
            }
            & a{
                color: #9e9e9e;
                font-size: 13px;
                & i{
                    margin-right: 5px;
                }
                &:hover{
                    color: $white;
                }
            }
        }
    }
}

.copyright-area{
    border-top: 1px solid #363636;
}
.copyright{
    & p{
        margin: 0;
        color: #9e9e9e;
    }
}
