/* 3. Header */
.header{
    // header-top-menu
    &__top-menu{
        & ul{
            @media #{$xs}{
               text-align: center;
            }
            & li{
                display: inline-block;
                margin-right: 15px;
                @media #{$xs}{
                    margin-right: 7px;
                }
                & a{
                    color:$white;
                    font-size: 12px;
                    padding: 12px 0;
                    display: block;
                    &:hover{
                        color:$theme-color;
                    }
                }
            }
        }
    }

    // header-social
    &__social{
        line-height: 1;
            @media #{$xs}{
               margin-bottom: 15px;
            }
        & a{
            color: $white;
            font-size: 12px;
            margin-left: 15px;
        }
    }

    // header menu
    &__menu{
        & ul{
            & li{
                display: inline-block;
                position: relative;
                & a{
                    color: $white;
                    padding: 20px 18px;
                    line-height: 1;
                    font-size: 15px;
                    font-family: $poppins;
                    display: block;
                    font-weight: 500;
                    position: relative;
                    &::before{
                        background: $theme-color;
                        height: 6px;
                        width: 100%;
                        content: "";
                        top: -6px;
                        left: 0;
                        position: absolute;
                        border-radius: 3px 8px 0px 0px;
                        opacity: 0;
                        @include transition(.2s);
                    }
                }
                &:hover,&.active{
                    & > a{
                        background: $theme-color;
                    }
                }
                &:hover > a::before,&.active > a::before{
                    opacity: 1;
                }

                // submenu
                & ul.submenu{
                    width:200px;
                    position: absolute;
                    top: 110%;
                    left: 0;
                    background: $black;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 99;
                    @include transition(.2s);
                    & li{
                        display: block;
                        border-bottom: 1px solid #333;
                        &:last-child{
                            border-bottom: 0;
                        }
                        & a{
                            padding: 14px 12px;
                            font-size: 13px;
                            &:before{
                                display: none;
                            }
                        }
                        // multi label menu
                        & ul.submenu{
                            left: 100%;
                            top: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:hover {
                            & > ul.submenu{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                // submenu hover
                &:hover {
                    & ul.submenu{
                        opacity: 1;
                        visibility: visible;
                        top:100%;
                    }
                }
            }
        }
    }



    // header search icon
    &__right-icon{
        line-height: 1;
        &.f-right{
            @media #{$md}{
                float: none;
            }
            @media #{$xs}{
                float: none;
            }
        }
        & a{
            color: $white;
            font-size: 14px;
            margin-left: 30px;
            &:first-child{
                @media #{$md}{
                    margin-left: 0;
                }
                @media #{$xs}{
                    margin-left: 0;
                }
            }
        }
    }

}
.header__menu-area {
    @media #{$md}{
        padding: 5px 0;
    }
}

// white menu
.menu__border{
    border-top: 1px solid #eee;
}
.header__menu-white{
    & ul{
        & li{
            & a{
                color: $black;
                &:before{
                    display: none;
                }
            }
            &:hover,&.active{
                & > a{
                    color: $theme-color;
                    background: transparent;
                }
            }
            // submenu
            & ul.submenu{
                & li{
                    & a{
                        color: $white;
                    }
                    &:hover,&.active{
                        & > a{
                            color: $theme-color;
                        }
                    }
                    &:hover {
                        & > ul.submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &:first-child{
                & a{
                    padding-left: 0;
                }
            }
        }
    }
}

// black color menu home 3 menu
.header__menu-black{
    & ul{
        & li{
            & a{
                color: $black;
            }
            &:hover,&.active{
                & > a{
                    background: $theme-color;
                    color: $white;
                }
            }
            &:hover > a::before,&.active > a::before{
                opacity: 1;
            }
            // submenu
            & ul.submenu{
                & li{
                    & a{
                        color: $white;
                        background: transparent;
                    }
                    &:hover,&.active{
                        & > a{
                            color: $theme-color;
                        }
                    }
                    &:hover {
                        & > ul.submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.header__icon-black{
    line-height: 1;
    & a{
        color: $black;
        &:hover{
            color: $theme-color;
        }
    }
}

// header 2
.header-top-border{
    border-bottom: 1px solid $border-soft;
}
.top-menu-black{
    & ul{
        & li{
            & a{
                color: $black-soft-6;
            }
        }
    }
}
.header-date{
    margin-top: 7px;
    & span{
        font-size: 13px;
    }
}
.header-social-black{
    &.f-right{
        @media #{$xs}{
            float: none;
            text-align: center;
        }
    }
    & a{
        color: $black-soft-6;
        &:hover{
            color: $theme-color;
        }
    }
}
// form
.top-form{
    @media #{$xs}{
        display: none;
    }
    & form{
        position: relative;
        width: 190px;
    }
    & input{
        width:100%;
        height: 42px;
        background: $black;
        border: 0;
        padding: 0 15px;
        &::placeholder{
            color: $white;
            opacity: .6;
        }
    }
    & button{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        border: 0;
        background: no-repeat;
        color: #ddd;
    }
}




.white__header {
    & .mean-container a.meanmenu-reveal {
        border: 1px solid $black;
        color: $black;
        & span{
            background: $black;
        }
    }
}
