/* 3. Header */
.header{
    // header-top-menu
    &__top-menu{
        & ul{
            @media #{$xs}{
               text-align: center;
            }
            & li{
                display: inline-block;
                margin-right: 15px;
                @media #{$xs}{
                    margin-right: 7px;
                }
                & a{
                    color:$white;
                    font-size: 12px;
                    padding: 12px 0;
                    display: block;
                    &:hover{
                        color:$theme-color;
                    }
                }
            }
        }
    }

    // header-social
    &__social{
        line-height: 1;
            @media #{$xs}{
               margin-bottom: 15px;
            }
        & a{
            color: $white;
            font-size: 12px;
            margin-left: 15px;
        }
    }

    // header menu
    &__menu{
        & ul{
            & li{
                display: inline-block;
                position: relative;
                & a{
                    color: $white;
                    padding: 20px 18px;
                    line-height: 1;
                    font-size: 15px;
                    font-family: $poppins;
                    display: block;
                    font-weight: 500;
                    position: relative;
                    &::before{
                        background: $theme-color;
                        height: 6px;
                        width: 100%;
                        content: "";
                        top: -6px;
                        left: 0;
                        position: absolute;
                        border-radius: 3px 8px 0px 0px;
                        opacity: 0;
                        @include transition(.2s);
                    }
                }
                &:hover,&.active{
                    & > a{
                        background: $theme-color;
                    }
                }
                &:hover > a::before,&.active > a::before{
                    opacity: 1;
                }

                // submenu
                & ul.submenu{
                    width:200px;
                    position: absolute;
                    top: 110%;
                    left: 0;
                    background: $black;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 99;
                    @include transition(.2s);
                    & li{
                        display: block;
                        border-bottom: 1px solid #333;
                        &:last-child{
                            border-bottom: 0;
                        }
                        & a{
                            padding: 14px 12px;
                            font-size: 13px;
                            &:before{
                                display: none;
                            }
                        }
                        // multi label menu
                        & ul.submenu{
                            left: 100%;
                            top: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:hover {
                            & > ul.submenu{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                // submenu hover
                &:hover {
                    & ul.submenu{
                        opacity: 1;
                        visibility: visible;
                        top:100%;
                    }
                }
            }
        }
    }



    // header search icon
    &__right-icon{
        line-height: 1;
        &.f-right{
            @media #{$md}{
                float: none;
            }
            @media #{$xs}{
                float: none;
            }
        }
        & a{
            color: $white;
            font-size: 14px;
            margin-left: 30px;
            &:first-child{
                @media #{$md}{
                    margin-left: 0;
                }
                @media #{$xs}{
                    margin-left: 0;
                }
            }
        }
    }

}
.header__menu-area {
    @media #{$md}{
        padding: 5px 0;
    }
}

// white menu
.menu__border{
    border-top: 1px solid #eee;
}
.header__menu-white{
    & ul{
        & li{
            & a{
                color: $black;
                &:before{
                    display: none;
                }
            }
            &:hover,&.active{
                & > a{
                    color: $theme-color;
                    background: transparent;
                }
            }
            // submenu
            & ul.submenu{
                & li{
                    & a{
                        color: $white;
                    }
                    &:hover,&.active{
                        & > a{
                            color: $theme-color;
                        }
                    }
                    &:hover {
                        & > ul.submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &:first-child{
                & a{
                    padding-left: 0;
                }
            }
        }
    }
}

// black color menu home 3 menu
.header__menu-black{
    & ul{
        & li{
            & a{
                color: $black;
            }
            &:hover,&.active{
                & > a{
                    background: $theme-color;
                    color: $white;
                }
            }
            &:hover > a::before,&.active > a::before{
                opacity: 1;
            }
            // submenu
            & ul.submenu{
                & li{
                    & a{
                        color: $white;
                        background: transparent;
                    }
                    &:hover,&.active{
                        & > a{
                            color: $theme-color;
                        }
                    }
                    &:hover {
                        & > ul.submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.header__icon-black{
    line-height: 1;
    & a{
        color: $black;
        &:hover{
            color: $theme-color;
        }
    }
}

// header 2
.header-top-border{
    border-bottom: 1px solid $border-soft;
}
.top-menu-black{
    & ul{
        & li{
            & a{
                color: $black-soft-6;
            }
        }
    }
}
.header-date{
    margin-top: 7px;
    & span{
        font-size: 13px;
    }
}
.header-social-black{
    &.f-right{
        @media #{$xs}{
            float: none;
            text-align: center;
        }
    }
    & a{
        color: $black-soft-6;
        &:hover{
            color: $theme-color;
        }
    }
}
// form
.top-form{
    @media #{$xs}{
        display: none;
    }
    & form{
        position: relative;
        width: 190px;
    }
    & input{
        width:100%;
        height: 42px;
        background: $black;
        border: 0;
        padding: 0 15px;
        &::placeholder{
            color: $white;
            opacity: .6;
        }
    }
    & button{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        border: 0;
        background: no-repeat;
        color: #ddd;
    }
}




/* extra info */
.extra-info {
	background: #222 none repeat scroll 0 0;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.7s ease 0s;
	width: 360px;
    z-index: 999;
    overflow-y: scroll;
    transform: translateX(100%);
    @media #{$xs}{
        width:300px;
        padding: 15px;
    }
}
.extra-info.info-open {
  transform: translateX(0);
}
.extra-info-left{right:inherit;left: 0;transform: translateX(-100%);}
.extra-info.extra-info-left.info-open{transform: translateX(0);}
.close-icon {
  margin-top: -16px;
  text-align: right;
}
.social-icon-right {
	border-bottom: 1px solid #444;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.close-icon > button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	color: #ddd;
	cursor: pointer;
	font-size: 20px;
	padding: 0;
}
.social-icon-right > a {
	color: #999;
	display: inline-block;
	margin-right: 12px;
}
.social-icon-right > a:hover{
    color: $theme-color;
}
.side-menu {
	border-bottom: 1px solid #444;
	padding-bottom: 12px;
}
.side-menu ul li {
  margin-bottom: 15px;
}
.side-menu ul li a {
  color: #ddd;
  font-size: 14px;
}
.side-menu ul li:hover a {
  color: $theme-color;
}


#search-modal {
	background-color: rgba(23,26,33,.95);
}
#search-modal .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: none;
	outline: 0;
}
#search-modal .modal-dialog .modal-content {
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}
#search-modal .modal-dialog .modal-content form {
	width: 555px;
    position: relative;
    @media #{$xs}{
        width:300px;
    }
}
#search-modal .modal-dialog .modal-content form input {
	width: 100%;
	font-size: 36px;
	border: none;
	border-bottom: 3px solid rgba(255,255,255,.1);
	background: 0 0;
	color: #fff;
	padding-bottom: 12px;
	padding-right: 40px;
}
#search-modal .modal-dialog .modal-content form input::-moz-placeholder {
    font-size: 35px;
    color: #666;
    @media #{$xs}{
        font-size: 25px;
    }
}
#search-modal .modal-dialog .modal-content form input::placeholder {
    font-size: 35px;
    color: #666;
    @media #{$xs}{
        font-size: 25px;
    }
}
#search-modal .modal-dialog .modal-content form button {
	position: absolute;
	right: 0;
	margin-bottom: 3px;
	font-size: 30px;
	color: rgba(255,255,255,.5);
	background: 0 0;
	border: none;
	cursor: pointer;
	top: 11px;
}

.white__header {
    & .mean-container a.meanmenu-reveal {
        border: 1px solid $black;
        color: $black;
        & span{
            background: $black;
        }
    }
}

// header 4
.header__top-search{
    padding-right: 70px;
    @media #{$md}{
        padding-right: 0px;
    }
    @media #{$xs}{
        padding-right: 0px;
        margin-bottom: 30px;
    }
    & form{
        position: relative;
        & input{
            width: 100%;
            height: 40px;
            border: 0;
            padding: 0 15px;
            background-color: rgb(204, 33, 33);
            box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
            &::placeholder,&::-moz-placeholder{
                color: $white;
                opacity: .7;
            }
        }
        & button{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 50px;
            border: 0;
            background: no-repeat;
            color: $white;
            font-size: 12px;
        }
    }
}

// header-red
.header-red{
    & ul{
        & li{
            & a{
                padding: 30px 18px;
                &:before{
                    display: none;
                }
            }
            &:hover,&.active{
                & > a{
                    background: transparent;
                    opacity: .8;
                }
            }
            // submenu
            & ul.submenu{
                & li{
                    & a{
                        color: $white;
                    }
                    &:hover,&.active{
                        & > a{
                            color: $theme-color;

                        }
                    }
                    &:hover {
                        & > ul.submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &:first-child{
                & a{
                    padding-left: 0;
                }
            }
        }
    }
}

.header-red-icon{
     @media #{$md}{
        margin-top: 18px;
    }
     @media #{$xs}{
        margin-top: 18px;
    }
}




  /*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
	text-align: right;
	text-transform: uppercase;
	line-height: 1;
}

#weather i {
	color: #444;
	font-family: weather;
	font-size: 70px;
	font-weight: normal;
	font-style: normal;
	line-height: 0;
	text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
	margin: 0;
	color: #444;
	font-size: 35px;
	font-weight: 600;
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
font-size: 14px
}

#weather .currently {
  margin: 0 20px;
}

.black-icon{
    &.mean-container a.meanmenu-reveal {
	border: 1px solid #222;
	color: #222;
    }
    &.mean-container a.meanmenu-reveal span {
        background: #222;
    }
}
