/* 4. Hero */
.hero{
    &__thumb{
        & img{
            width: 100%;
        }
    }
    &__text{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 28px;
        & h3{
            margin: 0;
            font-size: 26px;
            font-weight: 500;
            @media #{$xs}{
                font-size: 18px;
            }
            & a{
                color: $white;
                &:hover{
                    color: $theme-color;
                }
            }
            &.pr-100{
                @media #{$lg}{
                    padding-right: 0
                }
                @media #{$xs}{
                    padding-right: 0
                }
            }
        }

        &-small{
            & h3{
                font-size: 16px;
            }
        }
    }
}

// slider
.slide-height{
    min-height: 730px;
    @media #{$laptop}{
        min-height: 500px;
    }
    @media #{$lg}{
        min-height: 600px;
    }
    @media #{$md}{
        min-height: 500px;
    }
    @media #{$xs}{
        min-height: 530px;
    }
}
.slider{
    &__text{
        & h3{
            font-size: 40px;
            font-weight: 600;
            color: $white;
            &:hover{
                color: $theme-color;
            }
            @media #{$xs}{
                font-size: 32px;
            }
        }
    }
    &-meta{
        & li{
            color: #aeaeae;
        }
    }
}

.slider-arrow  {
    & button.slick-arrow{
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        background: none;
        border: 0;
        width: 60px;
        font-size: 25px;
        padding: 0;
        color: $white;
        z-index: 9;
        border-radius: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        height: 50px;
        border: 2px solid $white;
    }
    & button.slick-next{
        left: auto;right:30px
    }
    &:hover button{
        opacity: 1;
        visibility: visible;
    }
}
.slider-arrow button:hover{
    background: $theme-color;
    color: $white;
    border-color: $theme-color;
}

// slider-active-stage
.slider-active-stage{
    & .single-slider{
        &:before{
            display: none;
        }
         &.slick-center:before{
             display: block;
         }
    }
    & .slider{
        display: none;
    }
    & .slick-center .slider{
        display: block;
    }
}

