/* 5. News */
.breaking{
    &__meta{
        & ul{
            & li{
                display: inline-block;
                margin-right: 25px;
                font-size: 13px;
                @media #{$xs}{
                    margin-right: 15px;
                }
                & i{
                    margin-right: 7px;
                    color: $theme-color;
                }

            }
        }
    }
}

// breaking news
.breaking__wrapper{
    position: relative;
    border: 1px solid #ddd;
    .breaking__title{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        background: $theme-color;
        padding: 15px 35px;
        color: $white;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 9;
        line-height: 1.2;
        @media #{$md}{
            display: block;
            position: static;
        }
        @media #{$xs}{
            display: block;
            position: static;
        }
    }
    .breaking__ticker-active{
        padding: 10px 25px 12px 205px;
        @media #{$md}{
            padding-left: 15px;
        }
        @media #{$xs}{
            padding-left: 15px;
        }
        & li {
            & a{
                line-height: 1;
                font-size: 14px;
            }
        }
        & .owl-nav{
            & div{
                color: $black;
                position: absolute;
                right: 10px;
                top: 9px;
                @media #{$md}{
                    top: -36px;
                    color:$white;
                }
                @media #{$xs}{
                    top: -36px;
                    color:$white;
                }
            }
            & div.owl-prev{
                right:30px;
            }
        }
    }

}



// category tag
.post-cat{
    display: inline-block;
    & a{
        background: $theme-color;
        padding: 4px 15px;
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 2px;
        &.color1{
            background: #f2709c;
        }
        &.color2{
            background: #d39d38;
        }
        &.color3{
            background: #e100ff;
        }
        &.color4{
            background: #348ac7;
        }
        &.color5{
            background: #8dc26f;
        }
        &.color6{
            background: #5b86e5;
        }
        &.color8{
            background: #4135bf;
        }
        &.color9{
            background: #45a247;
        }
        &.color10{
            background: #8e44ad;
        }
        &.color11{
            background: #c779d0;
        }
        &.color11{
            background: #f2994a;
        }
        &.color12{
            background: #6190e8;
        }
        &.color13{
            background: #43c6ac;
        }
    }
    &.r-0{
        & a{
            border-radius: 0;
            padding: 4px 14px;
        }
    }
}
.post-absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
.sm-cat{
    line-height: 1;
    & a{
        font-size: 12px;
        text-transform: capitalize;
    }
}

// news style
.postbox{
    &__thumb{
        position: relative;
        & a{
            & img{
                width: 100%;
                @media #{$xs}{
                    width: 100%;
                }
            }
        }
    }
    // post text
    &__text{
        &-meta{
            & ul{
                line-height: 1;
                & li{
                    display: inline-block;
                    font-size: 12px;
                    margin-right: 10px;
                    text-transform: uppercase;
                    & i{
                        margin-right: 4px;


                    }
                }
            }
        }
        & h4{
            font-size: 14px;
            font-weight: 500;
            &.title-30{
                font-size: 30px;
            }
            &.title-24{
                font-size: 24px;
            }
            &.title-22{
                font-size: 22px;
            }
            &.title-20{
                font-size: 20px;
            }
            &.title-18{
                font-size: 18px;
            }
            &.title-16{
                font-size: 16px;
            }
            &.title-13{
                font-size: 13px;
            }
            &.font-600{
                font-weight: 600;
            }
            & a{
                color: $heading-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
}

// post small
.post__small{
    overflow: hidden;
    &-thumb{

    }
    &-text{
        line-height: 1;
        & h4{
            font-weight: 600;
            margin-top: 6px;
            &:hover{
               color: $theme-color;
            }
            &.title-13{
                font-size: 13px;
            }
            &.title-14{
                font-size: 14px;
            }
            &.title-16{
                font-size: 16px;
                font-weight: 500;
            }
        }
        &-meta{
            & ul {
                & li{
                    font-size: 11px;
                    & i{
                        color: $theme-color;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}

// side post
.side-post h3 {

}
.side-post{
    & h3{
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 18px;
    }
    & .post__small-thumb {
        & img{
            width: 90px;
        }
    }
    & .post__small-text{
        & .sm-cat{
            color: #ddd;
        }
        & h4{
            color: #ddd;
            &:hover{
                color: $theme-color;
            }
        }
        & .post__small-text-meta{
            & ul {
                & li{
                    color: #ddd
                }
            }
        }
    }
}

// video news
.video-play {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
    transform: translateY(-50%);
    & a{
        background: $theme-color;
        height: 35px;
        width: 35px;
        display: inline-block;
        color: $white;
        border-radius: 50%;
        line-height: 35px;
        font-size: 12px;
    }
}


// post__features
.post__features{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        border: 1px dashed $white;
        top: 0;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    &-thumb{
        & img{
            width: 100%;
        }
    }
    &-content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px;
        z-index: 9;
        & h4{
            font-size: 15px;
            color: $white;
            font-weight: 500;
            &.title-24{
                font-size: 24px;
                font-weight: 600;
            }

            & a{
                &:hover{
                    opacity: .5;
                }
            }
        }
    }
    &-author{
        & span{
            font-size: 12px;
            color: $white;
        }
    }
}

.meta-top{
    margin-bottom: 5px;
    & span {
        font-size: 12px;
        color: $black-soft-6;
        text-transform: uppercase;
    }
}
.red-meta{
    & ul{
        & li{
            & span{
                color: $white;
            }
            & i{
                color: $theme-color;
            }
        }
    }
}


.content-pad{
    padding: 30px;
}
.border{
    border: 1px solid $border-soft;
}

// news-tabs
.title-theme{
    & h2{
        background: $theme-color;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        padding: 12px 25px;
        text-transform: uppercase;
        border-radius: 5px;
        line-height: 1;
        margin: 0;
    }
}
.news-tabs{
    & li{
        & a{
            color: #8a8a8a;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            &.active,&:hover{
                color: $theme-color;
            }
        }
    }
}


// blog
.blog-no-border {
    &:after{
        display: none;
    }
}
.border-dashed{
    border: 1px dashed $border-soft;
    padding: 30px;
}
.pos-static{position: static;}
.post-f-content{

}
.post-content-sm{
    padding: 15px;
    & h4{
        font-size: 13px;
        margin: 0;
    }
}

.post-sm-gallery{
    & .owl-nav{
        & div{
            position: absolute;
            height: 30px;
            width: 30px;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            text-align: center;
            line-height: 30px;
            color: #444;
            transition: .3s;
            &:hover{
                background: $theme-color;
                color: $white;
            }
            &.owl-next{
                left: auto;
                right: 30px;
            }
        }
    }
}


// category
.category-wrapper{
    padding: 50px;
    padding-top: 250px;
    @media #{$lg}{
        padding-top: 150px;
    }
    @media #{$md}{
        padding-top: 100px;
    }
    @media #{$xs}{
        padding: 25px;
        padding-top: 100px;
    }
    & h1{
        font-size: 40px;
        font-weight: 700;
        color: $white;
        padding-right: 150px;
        line-height: 1.3;
        @media #{$lg}{
            padding-right: 80px;
            font-size: 25px;
        }
        @media #{$md}{
            padding-right: 0px;
            font-size: 25px;
        }
        @media #{$xs}{
            padding-right: 0px;
            font-size: 20px;
        }
    }
}

.cat-heading{
    & h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        color: $theme-color;
        margin: 0;
    }
}

.cat-gallery{
    & a{
        & i{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 99;
            font-size: 16px;
            text-align: center;
            border: 2px solid red;
            display: inline-block;
            height: 50px;
            width: 50px;
            margin: auto;
            color: $theme-color;
            border-radius: 50%;
            line-height: 46px;
            background: $white;
        }
    }
}

.cat-gallery{
    & .owl-nav{
        & div{
            position: absolute;
            height: 30px;
            width: 30px;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            text-align: center;
            line-height: 30px;
            color: #444;
            transition: .3s;
            &:hover{
                background: $theme-color;
                color: $white;
            }
            &.owl-next{
                left: auto;
                right: 30px;
            }
        }
    }
}



// blog
.read-more {
	font-weight: 600;
	text-transform: capitalize;
    font-size: 14px;
    &:hover{
        color: $theme-color;
    }
}